.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--boston-red);
  color: #fff;
  height: var(--spacing-68);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.pokemon-logo {
  height: var(--spacing-36);
}
