:root {
  /* Palette */

  --primary-light: rgb(188, 163, 113);
  --primary-solid: #f4ac1c;

  --secondary-solid: #6424cb;

  --dark-solid: #2c0c3c;

  --dark-bg-solid: rgb(21, 6, 29);
  --light-bg-solid: #fafaff;
  --light-font-solid: #ffffff;
  --gray-font-solid: #747474;
  --boston-red: #b4161b;
  /* paleta para camniar tema */

  [data-theme="dark"] {
    --primary-light: rgb(188, 163, 113);
    --primary-solid: #f4ac1c;

    --secondary-solid: #6424cb;
    --dark-solid: #2c0c3c;
    --dark-bg-solid: rgb(21, 6, 29);
    --light-bg-solid: #fafaff;
    --light-font-solid: #ffffff;
    --gray-font-solid: #747474;
  }
  [data-theme="light"] {
    --primary-light: rgb(188, 163, 113);
    --primary-solid: #f4ac1c;
    --secondary-solid: #6424cb;
    --dark-solid: #2c0c3c;
    --dark-bg-solid: rgb(21, 6, 29);
    --light-bg-solid: #fafaff;
    --light-font-solid: #ffffff;
    --gray-font-solid: #747474;
  }

  /* Typography */
  --base-font: "Roboto", sans-serif;
  --alternative-font: "Reddit Mono", monospace;

  /* Font-sizes  */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xxlarge: 3.2em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-large800: 2em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;
  --font-xxsmall: 1.2em;

  /* Font-weights */
  --font-weight-900: 900;
  --font-weight-700: 700;
  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-300: 300;
  --font-weight-200: 200;
  --font-weight-100: 100;

  /* Spacing */
  --spacing-240: 24rem;
  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-48: 4.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-18: 1.8rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-10: 1rem;
  --spacing-8: 0.8rem;
  --spacing-6: 0.6rem;
  --spacing-5: 0.5rem;
  --spacing-4: 0.4rem;
  --spacing-2: 0.2rem;
  --spacing-1: 0.1rem;
}

/* temas */
